<!--<header>-->
<!--  <nav id="navigation-bar">-->
<!--    <ul>-->
<!--      <li><a routerLink="/">LOGO</a></li>-->
<!--      <li><a routerLink="/">Home</a></li>-->
<!--      <li><a routerLink="/products">Products</a></li>-->
<!--      <li><a routerLink="/members">Members</a></li>-->
<!--      <li><a routerLink="/">Contact Us</a></li>-->
<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->

<nav class="navbar">
  <a href="" class="navbar__logo">LOGO</a>
  <div class="navbar__menu">
          <a class="navbar__menu--links" routerLink="/">Home</a>
          <a class="navbar__menu--links" routerLink="/products">Products</a>
          <a class="navbar__menu--links" routerLink="/members">Members</a>
          <a class="navbar__menu--links"   id="button" routerLink="/">Contact Us</a>
  </div>
</nav>
